@import com.humantalks.exposed.views.html.partials._
@()
@main("") {
    <nav class="navbar navbar-humantalks">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@com.humantalks.exposed.routes.Application.index">
                    <img src="/assets/HumanTalks-logo.svg" />
                </a>
                <div class="clearfix"></div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="@com.humantalks.auth.routes.AuthCtrl.login">Login</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </nav>

    <div class="container" role="main">
        <h1>Hello ! </h1>
        Pour soumettre un talk : <a href="@com.humantalks.exposed.talks.routes.TalkCtrl.create">cliquez ici</a>
    </div>
}
