@import com.humantalks.exposed.views.html.partials._
@()
@main("") {
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">HumanTalks website</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@com.humantalks.auth.routes.AuthCtrl.login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Hello ! </h1>
    </div>
}
