@import com.humantalks.internal.partners.Partner
@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.events.Event
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.partners.routes.PartnerCtrl
@import com.humantalks.internal.persons.routes.PersonCtrl
@import com.humantalks.internal.events.routes.EventCtrl
@(partner: Partner, eventList: List[Event], personList: List[Person])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main(partner.data.name) {
    @header("partner")

    <div class="container">
        @flash()
        <h1>
            <span class="pull-right">
                <a href="@PartnerCtrl.update(partner.id)" class="btn btn-default" title="Modifier ce lieu"><i class="fa fa-pencil-square-o"></i></a>
                @helper.form(action=PartnerCtrl.doDelete(partner.id), 'class->"inline") { <button type="submit" class="btn btn-danger" title="Supprimer ce lieu" confirm><i class="fa fa-trash"></i></button> }
            </span>
            @partner.data.name
        </h1>
        @if(partner.data.sponsorAperitif){<span class="label label-success">Sponsor apéro</span>}
        @partner.data.comment.map{c => <p>@multiline(c)</p>}
        @twitter(partner.data.twitter)
        @if(partner.data.contacts.nonEmpty) {
            <p><b>Contacts</b>: @partner.data.contacts.flatMap(id => personList.find(_.id == id)).map{p => @personLink(p)}</p>
        }

        @partner.data.venue.map { venue =>
            <h3>Salle</h3>
            <p>
                @venue.location.formatted<br>
                @venue.capacity.map{c => @c places}@venue.closeTime.map{t =>, fermeture à @time(t)}@venue.contact.flatMap(id => personList.find(_.id == id)).map{p =>, contact: @personLink(p)}
            </p>
            @venue.comment.map{c => <p>@c</p>}
            <p>
                @venue.attendeeList.map{b => <span class="label @if(b){label-success}else{label-danger}">Liste des participants</span>}
                @venue.entranceCheck.map{b => <span class="label @if(b){label-success}else{label-danger}">Vérification à l'entrée</span>}
                @venue.offeredAperitif.map{b => <span class="label @if(b){label-success}else{label-danger}">Apéro offert</span>}
            </p>
            <a href="@PartnerCtrl.updateVenue(partner.id)" class="btn btn-default">Modifier le lieu</a>
        }.getOrElse {
            <a href="@PartnerCtrl.updateVenue(partner.id)" class="btn btn-default">Ajouter un lieu</a>
        }

        <p>
            @if(partner.data.sponsoring.nonEmpty) {
                <h3>Sponsoring</h3>
                <ul>
                @partner.data.sponsoring.sortBy(_.end.toDate.getTime).zipWithIndex.map { case (sponsor, index) =>
                    <li>
                        @messagesApi("sponsor.level."+sponsor.level), jusqu'au @date(sponsor.end)@sponsor.contact.flatMap(id => personList.find(_.id == id)).map{p =>, contact: @personLink(p)}
                        @helper.form(action=PartnerCtrl.updateSponsor(partner.id, index), 'class->"inline") { <button type="submit" class="btn btn-default" title="Modifier ce sponsor"><i class="fa fa-pencil-square-o"></i></button> }
                        @helper.form(action=PartnerCtrl.doDeleteSponsor(partner.id, index), 'class->"inline") { <button type="submit" class="btn btn-danger" title="Supprimer ce sponsor" confirm>&times;</button> }
                    </li>
                }
                </ul>
            }
            <a href="@PartnerCtrl.createSponsor(partner.id)" class="btn btn-default">Ajouter un sponsor</a>
        </p>

        @if(eventList.nonEmpty){
            <h3>Meetups</h3>
            <ul>
            @eventList.map { event =>
                <li><a href="@EventCtrl.get(event.id)">@event.data.title</a></li>
            }
            </ul>
        }
    </div>
}
