@import com.humantalks.internal.partners.Partner
@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.events.Event
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.partners.routes.PartnerCtrl
@import com.humantalks.internal.persons.routes.PersonCtrl
@import com.humantalks.internal.events.routes.EventCtrl
@(partner: Partner, eventList: List[Event], personList: List[Person])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main(partner.data.name) {
    @header("partner")

    <div class="container">
        @flash()
        <h1>
            <span class="pull-right">
                <a href="@PartnerCtrl.update(partner.id)" class="btn btn-default" title="Modifier ce lieu"><i class="fa fa-pencil-square-o"></i></a>
                @helper.form(action=PartnerCtrl.doDelete(partner.id), 'class->"inline") { <button type="submit" class="btn btn-danger" title="Supprimer ce lieu" confirm><i class="fa fa-trash"></i></button> }
            </span>
            @partner.data.name
        </h1>
        @partner.data.location.map{loc => <p>@loc.formatted</p>}
        @partner.data.comment.map{c => <p>@multiline(c)</p>}
        @twitter(partner.data.twitter)
        @if(partner.data.contacts.nonEmpty) {
            <p>
                <b>Contacts</b>:
                @partner.data.contacts.flatMap(id => personList.find(_.id == id)).map { contact =>
                    <a href="@PersonCtrl.get(contact.id)">@contact.data.name</a>@contact.data.email.map{e=>&lt;@e&gt;}
                }
            </p>
        }
        @if(eventList.nonEmpty){
            <h3>Meetups</h3>
            <ul>
            @eventList.map { event =>
                <li><a href="@EventCtrl.get(event.id)">@event.data.title</a></li>
            }
            </ul>
        }
    </div>
}
