@import com.humantalks.internal.partners.Partner
@import com.humantalks.internal.persons.Person
@import global.views.html.partials._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.partners.routes.PartnerCtrl
@import com.humantalks.internal.partners.routes.PartnerApiCtrl
@(partnerForm: Form[Partner.Data], partnerOpt: Option[Partner], personForm: Form[Person.Data])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main("Nouveau partenaire") {
    @header("partner")

    <div class="container">
        @flash()
        <div class="page-header">
            <h1>@partnerOpt.map{ p => Modifier @p.data.name}.getOrElse{Ajouter un partenaire}</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
            @helper.form(action=partnerOpt.map(p => PartnerCtrl.doUpdate(p.id)).getOrElse(PartnerCtrl.doCreate()), 'duplicates -> PartnerApiCtrl.duplicates(partnerOpt.map(_.id.toString)).toString, 'class->"form-horizontal partner-form") {
                @partials.fields(partnerForm)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @partnerOpt.map{p => <a href="@PartnerCtrl.get(p.id)" class="btn btn-default btn-lg">Annuler</a>}
                        <button type="submit" class="btn btn-primary btn-lg">@partnerOpt.map{ p => Modifier @p.data.name}.getOrElse{Ajouter le lieu}</button>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    @com.humantalks.internal.persons.views.html.partials.createModal(personForm)
    @footer()
}
