@import org.joda.time.LocalDate
@import com.humantalks.internal.partners.Partner
@import com.humantalks.internal.persons.Person
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.partners.routes.PartnerCtrl
@(partnerList: List[Partner])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@filterLink(ref: String, name: String) = {
    @request.getQueryString("filter") match {
        case Some(v) if v == ref => {<a class="label label-primary" href="@PartnerCtrl.find(None,      request.getQueryString("sort"))">@name</a>}
        case _ =>                   {<a class="label label-default" href="@PartnerCtrl.find(Some(ref), request.getQueryString("sort"))">@name</a>}
    }
}
@sortLink(ref: String, name: String) = {
    @request.getQueryString("sort") match {
        case Some(v) if v == ref =>     {<a class="label label-primary" href="@PartnerCtrl.find(request.getQueryString("filter"), Some("-"+ref))">@name</a>}
        case Some(v) if v == "-"+ref => {<a class="label label-danger"  href="@PartnerCtrl.find(request.getQueryString("filter"), Some(ref))">@name</a>}
        case _ =>                       {<a class="label label-default" href="@PartnerCtrl.find(request.getQueryString("filter"), Some(ref))">@name</a>}
    }
}
@main("Partenaires") {
    @header("partner")

    <div class="container">
        @flash()
        <h1>
            <a href="@PartnerCtrl.create" class="pull-right"><i class="fa fa-plus"></i></a>
            Liste des partenaires (@partnerList.length)
        </h1>
        <p>
            Filtre: @filterLink("sponsor", "Sponsors") @filterLink("venue", "Salle")
            Tri: @sortLink("date", "Date") @sortLink("name", "Name")
        </p>
        @partnerList.map { partner =>
            <div class="media card">
                <div class="media-body">
                    <h4 class="media-heading">@partnerLink(partner)</h4>
                    @partner.data.venue.map{v => <p>@v.location.formatted</p>}
                    @partner.data.comment.map{c => <p>@multiline(c)</p>}
                    @partner.data.sponsoring.lastOption.map { sponsor =>
                        @if(sponsor.end.isAfter(new LocalDate())){
                            <span class="label label-success">Sponsor @messagesApi("sponsor.level."+sponsor.level) jusqu'au @date(sponsor.end)</span>
                        } else {
                            <span class="label label-danger">Plus sponsor depuis @date(sponsor.end)</span>
                        }
                    }
                    @if(partner.data.sponsorAperitif){<span class="label label-success">Sponsor apéro</span>}
                    @twitter(partner.data.twitter)
                </div>
                @partner.data.logo.map { logo =>
                    <div class="media-right">
                        <a href="@PartnerCtrl.get(partner.id)"><img class="media-object" src="@logo" alt="Logo"></a>
                    </div>
                }
            </div>
        }
    </div>

    @footer()
}
