@import com.humantalks.internal.partners.Partner
@import com.humantalks.internal.persons.Person
@import global.views.html.partials._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.partners.routes.PartnerCtrl
@import com.humantalks.internal.partners.routes.PartnerApiCtrl
@(sponsorForm: Form[Partner.Sponsor], index: Option[Int], partner: Partner, personForm: Form[Person.Data])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main("Modifier partenaire") {
    @header("partner")

    <div class="container">
        @flash()
        <div class="page-header">
            <h1>@index.map{i => Modifier de sponsor @i de }.getOrElse{Ajouter un sponsor pour} @partner.data.name</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
            @helper.form(action=index.map(i => PartnerCtrl.doUpdateSponsor(partner.id, i)).getOrElse(PartnerCtrl.doCreateSponsor(partner.id)), 'class->"form-horizontal sponsor-form") {
                @partials.sponsorFields(sponsorForm)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="@PartnerCtrl.get(partner.id)" class="btn btn-default btn-lg">Annuler</a>
                        <button type="submit" class="btn btn-primary btn-lg">@index.map{i => Modifier le}.getOrElse{Ajouter un} sponsor</button>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    @com.humantalks.internal.persons.views.html.partials.createModal(personForm)
    @footer()
}
