@import com.humantalks.auth.entities.{Credentials, AuthToken}
@import com.humantalks.internal.persons.Person
@import global.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.persons.routes.PersonCtrl
@import com.humantalks.internal.admin.routes.AdminCtrl
@(userList: List[Person], credentials: List[Credentials], authTokens: List[AuthToken])
@main("Users") {
    @header("admin")

    <div class="container">
        <h1>
            Liste des utilisateurs (@userList.length)
        </h1>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>User</th>
                    <th>LoginInfo</th>
                    <th>Credentials</th>
                    <th>Email</th>
                    <th>Twitter</th>
                    <th>Role</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                @userList.map { user =>
                    <tr @if(!user.activated){class="danger"}>
                        <td>
                            <a href="@PersonCtrl.get(user.id)">
                                @user.data.avatar.map{url => <img src="@url" style="max-height: 30px;">}
                                @user.data.name
                            </a>
                        </td>
                        <td>@user.loginInfo.map{l => (@l.providerID,@l.providerKey)}</td>
                        <td>@credentials.find(c => user.loginInfo.contains(c.loginInfo)).map{c => <span title="Hash: @c.passwordInfo.password / Salt: @c.passwordInfo.salt">@c.passwordInfo.hasher</span>}</td>
                        <td>@user.data.email.map{e => <a href="mailto:@e">@e</a>}</td>
                        <td>@user.data.twitter.map{t => <a href="https://twitter.com/@t" target="_blank">@@@t</a>}</td>
                        <td>
                            @helper.form(action=AdminCtrl.setRole(user.id), 'class -> "form-inline") {
                                <div class="form-group">
                                    <select name="role" class="form-control">
                                        <option></option>
                                        @Person.Role.values.map { role =>
                                          <option value="@role" @if(user.role.contains(role)){selected}>@role</option>
                                        }
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-default">Change</button>
                            }
                        </td>
                        <td>@datetime(user.meta.created.toLocalDateTime)</td>
                        <td>@datetime(user.meta.updated.toLocalDateTime)</td>
                    </tr>
                    @authTokens.filter(_.person == user.id).map { token =>
                        <tr @if(token.expiry.isBeforeNow){class="danger"}>
                            <td></td>
                            <td colspan="4">
                                Token: @token.id (expire: @datetime(token.expiry.toLocalDateTime))
                                @helper.form(action=AdminCtrl.deleteToken(token.id), 'style -> "display: inline;") {
                                    <button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}