@import com.humantalks.exposed.proposals.Proposal
@import com.humantalks.internal.persons.Person
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.proposals.routes.ProposalCtrl
@(proposalList: List[Proposal], personList: List[Person])(implicit request: RequestHeader, messagesApi: MessagesApi, user: Option[Person])
@main("Proposals") {
    @header("proposal")

    <div class="container">
        @flash()
        <h1>Listes des propositions (@proposalList.length)</h1>
        @proposalList.map { proposal =>
            <div class="media card">
                <div class="media-body">
                    <h4 class="media-heading">
                        @partials.status(proposal)
                        <a href="@ProposalCtrl.get(proposal.id)">@proposal.data.title</a>
                        @slidesLink(proposal.data.slides)
                    </h4>
                    @proposal.data.description.map{d => <p>@multiline(d)</p>}
                    <p>@speakers(proposal.data.speakers, personList) @created(proposal.meta.created)</p>
                </div>
            </div>
        }
    </div>
}