@import com.humantalks.talks.Talk
@import com.humantalks.persons.Person
@import com.humantalks.meetups.Meetup
@import com.humantalks.common.views.html.partials._
@import com.humantalks.talks.routes
@import global.views.html.format._
@(talk: Talk, personList: List[Person], meetupList: List[Meetup])
@main(talk.data.title, talk.data.description.getOrElse("")) {
    @header("talk")

    <div class="container">
        <h1>
            <a href="@routes.TalkCtrl.update(talk.id)" class="pull-right"><i class="fa fa-pencil-square-o"></i></a>
            @talk.data.title
        </h1>
        @talk.data.description.map{d => <p>@multiline(d)</p>}
        <p>par @talk.data.speakers.flatMap(id => personList.find(_.id == id)).map { speaker => <a href="@com.humantalks.persons.routes.PersonCtrl.get(speaker.id)">@speaker.data.name</a> }</p>
        @talk.data.slides.map{s => <p><b>Slides:</b><br>@embed(s)</p>}
        @talk.data.video.map{v => <p><b>Vidéo:</b><br>@embed(v)</p>}
        @if(meetupList.nonEmpty){
            <h3>Meetups</h3>
            <ul>
            @meetupList.map { meetup =>
                <li><a href="@com.humantalks.meetups.routes.MeetupCtrl.get(meetup.id)">@meetup.data.title</a></li>
            }
            </ul>
        }
    </div>
}