@import com.humantalks.persons.Person
@import com.humantalks.talks.Talk
@import com.humantalks.common.views.html.partials._
@import com.humantalks.talks.routes
@(talkForm: Form[Talk.Data], talkOpt: Option[Talk], personList: List[Person])(implicit messagesApi: MessagesApi)
@main("Home") {
    @header("talk")

    <div class="container" role="main">
        <div class="page-header">
            <h1>@talkOpt.map{ p => Modifier @p.data.title}.getOrElse{Ajouter un talk}</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
            @helper.form(action=talkOpt.map(p => routes.TalkCtrl.doUpdate(p.id)).getOrElse(routes.TalkCtrl.doCreate()), 'class->"form-horizontal talk-form") {
                @partials.fields(talkForm, personList)
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @talkOpt.map{p => <a href="@routes.TalkCtrl.get(p.id)" class="btn btn-default btn-lg">Annuler</a>}
                        <button type="submit" class="btn btn-primary btn-lg">@talkOpt.map{ p => Modifier @p.data.title}.getOrElse{Ajouter le talk}</button>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
}