@import com.humantalks.talks.Talk
@import com.humantalks.persons.Person
@import com.humantalks.common.views.html.partials._
@import com.humantalks.talks.routes
@import global.views.html.format._
@(talkList: List[Talk], personList: List[Person])
@main("Home") {
    @header("talk")

    <div class="container">
        <h1>Talk List</h1>
        @talkList.map { talk =>
            <div class="media card">
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="@routes.TalkCtrl.get(talk.id)">@talk.data.title</a>
                        @talk.data.slides.map{s => <a href="@s" target="_blank" title="slides"><span class="fa fa-slideshare"></span></a>}
                        @talk.data.video.map{v => <a href="@v" target="_blank" title="vidéo"><span class="fa fa-youtube"></span></a>}
                    </h4>
                    @talk.data.description.map{d => <p>@multiline(d)</p>}
                    <p>par @talk.data.speakers.flatMap(id => personList.find(_.id == id)).map{s => <a href="@com.humantalks.persons.routes.PersonCtrl.get(s.id)">@s.data.name</a>}</p>
                </div>
            </div>
        }
    </div>
}