@import com.humantalks.internal.partners.Partner
@import play.api.mvc.Call
@import com.humantalks.internal.partners.routes.PartnerCtrl
@import com.humantalks.internal.partners.routes.PartnerApiCtrl
@(partnerForm: Form[Partner.Data], action: Option[Call] = None)(implicit messagesApi: MessagesApi)
<div class="modal fade" id="create-partner-modal" tabindex="-1" role="dialog" aria-labelledby="createPartnerModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @helper.form(action=action.getOrElse(PartnerCtrl.doCreate()), 'duplicates -> PartnerApiCtrl.duplicates().toString, 'class->"form-horizontal partner-form") {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="createPartnerModal">Ajouter un lieu</h4>
                </div>
                <div class="modal-body">
                    @fields(partnerForm)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary save">Ajouter</button>
                </div>
            }
        </div>
    </div>
</div>