@import com.humantalks.internal.partners.Partner
@import global.views.html.form._
@import com.humantalks.common.controllers.routes.Select2Ctrl
@(sponsorForm: Form[Partner.Sponsor])(implicit messagesApi: MessagesApi)
@fieldHorizontal(sponsorForm("start"), 'label -> "Début") { field => @inputDate(field, 'placeholder -> "ex: 01/07/2016") }
@fieldHorizontal(sponsorForm("end"), 'label -> "Fin") { field => @inputDate(field, 'placeholder -> "ex: 01/07/2017") }
@fieldHorizontal(sponsorForm("level"), 'label -> "Niveau") { field => @inputSelect(field, List(("strandard", "Strandard"), ("premium", "Premium")), 'emptyOption -> " ") }
@fieldHorizontal(sponsorForm("amount"), 'label -> "Montant") { field => @inputNumber(field, 'placeholder -> "ex: 500") }
@fieldHorizontal(sponsorForm("contact"), 'label -> "Contact") { field => @inputSelect2(field, List(), 'remote -> Select2Ctrl.persons.toString, 'placeholder -> "Sélectionner le contact principal", 'onCreate -> "createPersonModal", 'onCreateLabel -> "Nouveau contact") }