@import com.humantalks.internal.partners.Partner
@import global.views.html.form._
@import com.humantalks.common.controllers.routes.Select2Ctrl
@(venueForm: Form[Partner.Venue])(implicit messagesApi: MessagesApi)
@fieldHorizontal(venueForm("location"), 'label -> "Adresse") { field => @inputGMapPlace(field, 'placeholder -> "ex: CPE Lyon, Boulevard du 11 Novembre 1918, Villeurbanne, France", 'autofocus -> "") }
@fieldHorizontal(venueForm("capacity"), 'label -> "Taille de la salle") { field => @inputNumber(field, 'placeholder -> "ex: 80") }
@fieldHorizontal(venueForm("closeTime"), 'label -> "Heure de fermeture") { field => @inputTime(field, 'placeholder -> "HH:mm") }
@fieldHorizontal(venueForm("attendeeList"), 'label -> "Liste des participants") { field => @inputRadio(field, Seq(("true", "Oui"), ("false", "Non"))) }
@fieldHorizontal(venueForm("entranceCheck"), 'label -> "Vérification à l'entrée") { field => @inputRadio(field, Seq(("true", "Oui"), ("false", "Non"))) }
@fieldHorizontal(venueForm("offeredAperitif"), 'label -> "Apéro offert") { field => @inputRadio(field, Seq(("true", "Oui"), ("false", "Non"))) }
@fieldHorizontal(venueForm("contact"), 'label -> "Contact") { field => @inputSelect2(field, List(), 'remote -> Select2Ctrl.persons.toString, 'placeholder -> "Sélectionner le contact principal", 'onCreate -> "createPersonModal", 'onCreateLabel -> "Nouveau contact") }
@fieldHorizontal(venueForm("comment"), 'label -> "Commentaire") { field => @inputTextarea(field, 'rows -> "5", 'placeholder -> "ex: Super ambiance, à refaire !") }