@import com.humantalks.venues.Venue
@import global.views.html.form._
@(venueForm: Form[Venue.Data])(implicit messagesApi: MessagesApi)
@fieldHorizontal(venueForm("name"), 'label -> "Nom") { field => @inputText(field, 'placeholder -> "ex: Google") }
@fieldHorizontal(venueForm("contact.name"), 'label -> "Nom du contact") { field => @inputText(field, 'placeholder -> "ex: John Doe") }
@fieldHorizontal(venueForm("contact.email"), 'label -> "Email du contact") { field => @inputEmail(field, 'placeholder -> "ex: john@doe.com") }
@fieldHorizontal(venueForm("contact.phone"), 'label -> "Téléphone du contact") { field => @inputText(field, 'placeholder -> "ex: 06 95 38 67 25") }
@fieldHorizontal(venueForm("contact.comment"), 'label -> "Commentaire sur le contact") { field => @inputTextarea(field, 'placeholder -> "ex: Très sympa, propose un buffet") }
<!-- location -->
@fieldHorizontal(venueForm("capacity"), 'label -> "Taille de la salle") { field => @inputNumber(field, 'placeholder -> "ex: 80") }
@fieldHorizontal(venueForm("twitter"), 'label -> "Compte twitter") { field => @inputText(field, 'placeholder -> "ex: @google") }
@fieldHorizontal(venueForm("logo"), 'label -> "Logo") { field => @inputText(field, 'placeholder -> "ex: https://image.freepik.com/free-icon/male-user-shadow_318-34042.png") }
@fieldHorizontal(venueForm("comment"), 'label -> "Commentaire") { field => @inputTextarea(field, 'placeholder -> "ex: Super ambiance, à refaire !") }
