@import com.humantalks.exposed.proposals.Proposal
@(proposal: Proposal, url: String, adminEmail: String)(implicit messagesApi: MessagesApi)
<html>
    <body>
        <p>Hello,</p>
        <p>
            Thanks for submitting your proposal <b>@proposal.data.title</b>. We will come back to you soon.<br>
            If you have any question, feel free to reach us at @adminEmail<br>
            Note that you can edit your proposal whenever you want using this link : <a href="@url">@url</a>
        </p>
    </body>
</html>