@import com.humantalks.internal.talks.Talk
@import com.humantalks.internal.talks.routes.TalkCtrl
@(talk: Talk)(implicit messagesApi: MessagesApi)
<div class="dropdown" style="display: inline;">
    <span class="label label-@messagesApi("talk.status."+talk.status+".type") dropdown-toggle" data-toggle="dropdown" title="@messagesApi("talk.status."+talk.status+".desc")">@messagesApi("talk.status."+talk.status)</span>
    <ul class="dropdown-menu">
        @Talk.Status.values.map { v =>
            @if(talk.status == v) {
                <li class="disabled"><a href="#">@messagesApi("talk.status."+v)</a></li>
            } else {
                <li>@helper.form(action = TalkCtrl.setStatus(talk.id, v), 'class -> "inline") {<button type="submit" class="btn-link" title="Mettre le status '@v'">@messagesApi("talk.status."+v)</button> }</li>
            }
        }
    </ul>
</div>
