@import com.humantalks.domain.MeetupData
@import com.humantalks.domain.Venue
@import global.views.html.form._
@(meetupForm: Form[MeetupData], venueList: List[Venue])(implicit messagesApi: MessagesApi)
@fieldHorizontal(meetupForm("title"), 'label -> "Titre") { field => @inputText(field, 'placeholder -> "ex: HumanTalks Paris Juillet 2016") }
@fieldHorizontal(meetupForm("date"), 'label -> "Date") { field => @inputDatetime(field, 'placeholder -> "ex: 12/07/2016 19:00") }
@fieldHorizontal(meetupForm("venue"), 'label -> "Lieu") { field => @inputSelect(field, venueList.map(v => (v.id.toString, v.data.name+v.data.location.map(l => " ("+l.formatted+")").getOrElse("")))) }
@* @fieldHorizontal(meetupForm("talks"), 'label -> "Talks") { field => @inputSelectMulti(field, talks.map(t => (t.id.toString, t.data.name))) } *@
@fieldHorizontal(meetupForm("description"), 'label -> "Description") { field => @inputTextarea(field, 'placeholder -> "ex: ...") }
@fieldHorizontal(meetupForm("roti"), 'label -> "Roti") { field => @inputText(field, 'placeholder -> "ex: https://image.freepik.com/free-icon/male-user-shadow_318-34042.png") }