@import com.humantalks.persons.Person
@import com.humantalks.persons.routes
@import play.api.mvc.Call
@(personForm: Form[Person.Data], action: Option[Call] = None)(implicit messagesApi: MessagesApi)
<div class="modal fade" id="create-person-modal" tabindex="-1" role="dialog" aria-labelledby="createPersonModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @helper.form(action=action.getOrElse(routes.PersonCtrl.doCreate()), 'class->"form-horizontal person-form") {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="createPersonModal">Ajouter une personne</h4>
                </div>
                <div class="modal-body">
                    @fields(personForm)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary save">Ajouter</button>
                </div>
            }
        </div>
    </div>
</div>