@import com.humantalks.persons.Person
@import global.views.html.form._
@(personForm: Form[Person.Data])(implicit messagesApi: MessagesApi)
@fieldHorizontal(personForm("name"), 'label -> "Nom") { field => @inputText(field, 'placeholder -> "ex: John Doe", 'autofocus -> "") }
@fieldHorizontal(personForm("email"), 'label -> "Email") { field => @inputEmail(field, 'placeholder -> "ex: john@doe.com") }
@fieldHorizontal(personForm("twitter"), 'label -> "Compte twitter") { field => @inputText(field, 'twitterToImageUrl -> "avatar", 'placeholder -> "ex: @johndoe") }
@fieldHorizontal(personForm("avatar"), 'label -> "Image de profil") { field => @inputImageUrl(field, 'placeholder -> "ex: https://pbs.twimg.com/profile_images/3133057797/81ea4e63c7078eec0a7c7d6ae57a3ce1_400x400.jpeg") }
@fieldHorizontal(personForm("description"), 'label -> "Description") { field => @inputTextarea(field, 'rows -> "5", 'placeholder -> "ex: Développeur chez XXX ...") }
