@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.talks.Talk
@import com.humantalks.internal.meetups.Meetup
@import com.humantalks.exposed.proposals.Proposal
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.talks.routes.TalkCtrl
@import com.humantalks.internal.meetups.routes.MeetupCtrl
@import com.humantalks.internal.proposals.routes.ProposalCtrl
@(talk: Talk, proposalOpt: Option[Proposal], personList: List[Person], meetupList: List[Meetup])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main(talk.data.title, talk.data.description.getOrElse("")) {
    @header("talk")

    <div class="container">
        @flash()
        <h1>
            <span class="pull-right">
                <a href="@TalkCtrl.update(talk.id)" class="btn btn-default" title="Modifier ce talk"><i class="fa fa-pencil-square-o"></i></a>
                @if(talk.status != Talk.Status.Rejected) { @helper.form(action=TalkCtrl.setStatus(talk.id, Talk.Status.Rejected), 'class->"inline") { <button type="submit" class="btn btn-warning" title="Rejeter ce talk" confirm><i class="fa fa-times"></i></button> } }
                @helper.form(action=TalkCtrl.doDelete(talk.id), 'class->"inline") { <button type="submit" class="btn btn-danger" title="Supprimer ce talk" confirm><i class="fa fa-trash"></i></button> }
            </span>
            @talk.data.title
            @partials.status(talk)
        </h1>
        <p>@speakers(talk.data.speakers, personList) @created(talk.meta.created)</p>
        @proposalOpt.map{proposal => <p><b>Proposition associée : <a href="@ProposalCtrl.get(proposal.id)">@proposal.data.title</a></b> @com.humantalks.internal.proposals.views.html.partials.status(proposal)</p>}
        @talk.data.description.map{d => <p>@multiline(d)</p>}
        @slidesEmbed(talk.data.slidesEmbedCode, talk.data.slides)
        @videoEmbed(talk.data.videoEmbedCode, talk.data.video)
        @if(meetupList.nonEmpty){
            <h3>Meetups</h3>
            <ul>
            @meetupList.map { meetup =>
                <li><a href="@MeetupCtrl.get(meetup.id)">@meetup.data.title</a></li>
            }
            </ul>
        }
    </div>
}