@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.talks.Talk
@import com.humantalks.internal.meetups.Meetup
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.persons.routes.PersonCtrl
@import com.humantalks.internal.talks.routes.TalkCtrl
@import com.humantalks.internal.meetups.routes.MeetupCtrl
@(talk: Talk, personList: List[Person], meetupList: List[Meetup])(implicit request: RequestHeader, messagesApi: MessagesApi, user: Option[Person])
@main(talk.data.title, talk.data.description.getOrElse("")) {
    @header("talk")

    <div class="container">
        @flash()
        <h1>
            <span class="pull-right">
                <a href="@TalkCtrl.update(talk.id)" class="btn btn-default" title="Modifier ce talk"><i class="fa fa-pencil-square-o"></i></a>
                @if(talk.status != Talk.Status.Rejected) { @helper.form(action=TalkCtrl.doReject(talk.id), 'class->"inline") { <button type="submit" class="btn btn-warning" title="Rejeter ce talk" confirm><i class="fa fa-times"></i></button> } }
                @helper.form(action=TalkCtrl.doDelete(talk.id), 'class->"inline") { <button type="submit" class="btn btn-danger" title="Supprimer ce talk" confirm><i class="fa fa-trash"></i></button> }
            </span>
            @talk.data.title
            @partials.status(talk)
        </h1>
        @talk.data.description.map{d => <p>@multiline(d)</p>}
        @if(talk.data.speakers.nonEmpty){
            <p>par @talk.data.speakers.flatMap(id => personList.find(_.id == id)).map { speaker => <a href="@PersonCtrl.get(speaker.id)">@speaker.data.name</a> }</p>
        }
        @talk.data.slidesEmbedCode.map{c => <p><b>Slides:</b><br>@Html(c)</p>}.getOrElse{
            @talk.data.slides.map{s => <p><b>Slides:</b><br>@embed(s)</p>}
        }
        @talk.data.videoEmbedCode.map{c => <p><b>Vidéo:</b><br>@Html(c)</p>}.getOrElse{
            @talk.data.video.map{v => <p><b>Vidéo:</b><br>@embed(v)</p>}
        }
        @if(meetupList.nonEmpty){
            <h3>Meetups</h3>
            <ul>
            @meetupList.map { meetup =>
                <li><a href="@MeetupCtrl.get(meetup.id)">@meetup.data.title</a></li>
            }
            </ul>
        }
    </div>
}