@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.talks.Talk
@import global.views.html.partials._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.talks.routes.TalkCtrl
@import com.humantalks.internal.talks.routes.TalkApiCtrl
@(talkForm: Form[Talk.Data], talkOpt: Option[Talk], personForm: Form[Person.Data])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main("Nouveau talk") {
    @header("talk")

    <div class="container">
        @flash()
        <div class="page-header">
            <h1>@talkOpt.map{ p => Modifier @p.data.title}.getOrElse{Ajouter un talk}</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
            @helper.form(action=talkOpt.map(p => TalkCtrl.doUpdate(p.id)).getOrElse(TalkCtrl.doCreate()), 'duplicates -> TalkApiCtrl.duplicates(talkOpt.map(_.id.toString)).toString, 'class->"form-horizontal talk-form") {
                @partials.fields(talkForm)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @talkOpt.map{p => <a href="@TalkCtrl.get(p.id)" class="btn btn-default btn-lg">Annuler</a>}
                        <button type="submit" class="btn btn-primary btn-lg">@talkOpt.map{ p => Modifier @p.data.title}.getOrElse{Ajouter le talk}</button>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    @com.humantalks.internal.persons.views.html.partials.createModal(personForm)
}