@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.talks.Talk
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.talks.routes.TalkCtrl
@(talkList: List[Talk], personList: List[Person])(implicit request: RequestHeader, messagesApi: MessagesApi, user: Option[Person])
@main("Talks") {
    @header("talk")

    <div class="container">
        @flash()
        <h1>
            <a href="@TalkCtrl.create" class="pull-right"><i class="fa fa-plus"></i></a>
            Liste des talks (@talkList.length)
        </h1>
        @talkList.map { talk =>
            <div class="media card">
                <div class="media-body">
                    <h4 class="media-heading">
                        @partials.status(talk)
                        <a href="@TalkCtrl.get(talk.id)">@talk.data.title</a>
                        @slidesLink(talk.data.slides)
                        @videoLink(talk.data.video)
                    </h4>
                    @talk.data.description.map{d => <p>@multiline(d)</p>}
                    <p>@speakers(talk.data.speakers, personList) le @date(talk.meta.created.toLocalDate)</p>
                </div>
            </div>
        }
    </div>
}