@import com.humantalks.persons.Person
@import com.humantalks.talks.Talk
@import com.humantalks.common.views.html.partials._
@import com.humantalks.persons.routes
@import global.views.html.format._
@(person: Person, talkList: List[Talk])
@main(person.data.name) {
    @header("person")

    <div class="container">
        <h1>
            <a href="@routes.PersonCtrl.update(person.id)" class="pull-right"><i class="fa fa-pencil-square-o"></i></a>
            @person.data.name
        </h1>
        @person.data.description.map{d => <p>@multiline(d)</p>}
        @person.data.email.map{email => <a href="mailto:@email" target="_blank">@email</a>}
        @person.data.twitter.map{account => <a href="https://twitter.com/@account" target="_blank">@@@account</a>}
        @if(talkList.nonEmpty){
            <h3>Talks</h3>
            <ul>
            @talkList.map { talk =>
                <li><a href="@com.humantalks.talks.routes.TalkCtrl.get(talk.id)">@talk.data.title</a> à ???</li>
            }
            </ul>
        }
    </div>
}