@import com.humantalks.persons.Person
@import com.humantalks.common.views.html.partials._
@import com.humantalks.persons.routes
@import global.views.html.format._
@(personList: List[Person])
@main("Personnes") {
    @header("person")

    <div class="container">
        <h1>
            <a href="@routes.PersonCtrl.create" class="pull-right"><i class="fa fa-plus"></i></a>
            Liste des personnes
        </h1>
        @personList.map { person =>
            <div class="media card">
                @person.data.avatar.map { avatar =>
                    <div class="media-left">
                        <a href="@routes.PersonCtrl.get(person.id)"><img class="media-object" src="@avatar" alt="Image de profil"></a>
                    </div>
                }
                <div class="media-body">
                    <h4 class="media-heading"><a href="@routes.PersonCtrl.get(person.id)">@person.data.name</a></h4>
                    @person.data.description.map{d => <p>@multiline(d)</p>}
                    @person.data.email.map{email => <a href="mailto:@email" target="_blank">@email</a>}
                    @person.data.twitter.map{account => <a href="https://twitter.com/@account" target="_blank">@@@account</a>}
                </div>
            </div>
        }
    </div>
}