@import com.humantalks.internal.admin.config.Config
@import com.humantalks.internal.persons.Person
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.admin.config.routes.ConfigCtrl
@import com.humantalks.internal.admin.config.routes.ConfigApiCtrl
@(config: Config)(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main(config.data.ref) {
    @header("config")

    <div class="container">
        @flash()
        <h1>
            @if(userOpt.exists(_.isAuthorized(Person.Role.Admin))) {
                <span class="pull-right">
                    <a href="@ConfigCtrl.update(config.id)" class="btn btn-default" title="Modifier la config"><i class="fa fa-pencil-square-o"></i></a>
                    @helper.form(action = ConfigCtrl.doDelete(config.id), 'class -> "inline") { <button type="submit" class="btn btn-danger" title="Supprimer cette config" confirm><i class="fa fa-trash"></i></button> }
                </span>
            }
            @config.data.ref
        </h1>
        <p>@multiline(config.data.description)</p>
        <div class="row live-preview">
            <div class="col-md-6">
                @helper.form(action=ConfigCtrl.doUpdateValue(config.id), 'class -> "editor", 'previewUrl -> ConfigApiCtrl.preview.toString) {
                    <input type="hidden" name="ref" value="@config.data.ref">
                    <div class="form-group">
                        <label class="control-label" for="value">Template @config.data.content (<a href="http://scalate.github.io/scalate/documentation/mustache.html" target="_blank">Mustache</a>) :</label>
                        <textarea class="form-control" id="value" name="value" rows="25">@config.data.value</textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Modifier</button>
                }
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="value">Preview :</label>
                    <input type="text" class="form-control entity-id" name="id" value="@request.getQueryString("id")" placeholder="Id à utiliser pour générer le template">
                    <textarea class="form-control result" rows="23" style="margin-top: 6px;" disabled></textarea>
                </div>
                <div>
                    <b>Données :</b>
                    <pre class="scopes"></pre>
                </div>
            </div>
        </div>
    </div>
}
