@import global.views.Helpers
@(field: Field, options: Seq[(String, String)], args: (Symbol, String)*)
@defining(if(field.indexes.isEmpty) field.value.toSet else field.indexes.flatMap(i => field("[%s]".format(i)).value).toSet){ values =>
    <select
        class="form-control select2-multi @Helpers.getArg(args, "class")"
        id="@Helpers.fieldId(field, args)"
        name="@Helpers.fieldName(field, args)[]"
        value="@values.mkString(",")"
        multiple="multiple"
        @Helpers.toHtml(args, Seq("emptyOption"))
        @if(Helpers.isRequired(field, args)){required="required"}
        size="1">
        @if(Helpers.getArg(args, "emptyOption").length > 0) {
            <option class="blank" value="">@Helpers.getArg(args, "emptyOption")</option>
        }
        @for((value, label) <- options) {
            <option value="@value" @if(values.contains(value)){selected="selected"}>@label</option>
        }
    </select>
}