@import global.views.Helpers
@(field: Field, options: Seq[(String, String)], args: (Symbol, String)*)
<select
    class="form-control select2 @Helpers.getArg(args, "class")"
    id="@Helpers.fieldId(field, args)"
    name="@Helpers.fieldName(field, args)"
    value="@Helpers.fieldValue(field, args)"
    @Helpers.toHtml(args)
    @if(Helpers.isRequired(field, args)){required="required"}>
    @if(Helpers.getArg(args, "placeholder").length > 0){ <option></option> }
    @for((value, label) <- options) {
        <option value="@value" @if(Helpers.fieldValue(field, args) == value){selected="selected"}>@label</option>
    }
</select>