@import com.humantalks.internal.venues.Venue
@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.meetups.Meetup
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.venues.routes.VenueCtrl
@import com.humantalks.internal.meetups.routes.MeetupCtrl
@(meetupList: List[Meetup], venueList: List[Venue])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main("Meetups") {
    @header("meetup")

    <div class="container">
        @flash()
        <h1>
            <a href="@MeetupCtrl.create" class="pull-right"><i class="fa fa-plus"></i></a>
            Listes des meetups (@meetupList.length)
        </h1>
        @meetupList.map { meetup =>
            <div class="media card @if(meetup.data.date.isAfterNow){highlight}">
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="@MeetupCtrl.get(meetup.id)">@meetup.data.title</a>
                        @meetup.meetupUrl.map{url => <a href="@url" target="_blank"><i class="fa fa-external-link"></i></a>}
                    </h4>
                    <p>
                        @partials.status(meetup)
                        @venue(meetup.data.venue, venueList, Html("<b class=\"text-danger\">Il manque une salle !</b>"))
                        le @date(meetup.data.date.toLocalDate),
                        @meetup.data.talks.length talks planifiés @if(meetup.data.talks.length < 4 && meetup.data.date.isAfterNow) {(<b class="text-danger">Il en manque @{4 - meetup.data.talks.length} !</b>)}
                        @meetup.data.roti.map{r => <i class="fa fa-picture-o" title="ROTI added"></i>}
                    </p>
                </div>
            </div>
        }
    </div>
}