@import com.humantalks.internal.meetups.Meetup
@import com.humantalks.internal.venues.Venue
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.meetups.routes.MeetupCtrl
@import com.humantalks.internal.venues.routes.VenueCtrl
@import global.views.html.format._
@(meetupList: List[Meetup], venueList: List[Venue])
@main("Meetups") {
    @header("meetup")

    <div class="container">
        <h1>
            <a href="@MeetupCtrl.create" class="pull-right"><i class="fa fa-plus"></i></a>
            Listes des meetups
        </h1>
        @meetupList.map { meetup =>
            <div class="media card">
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="@MeetupCtrl.get(meetup.id)">@meetup.data.title</a>
                        @meetup.data.meetupUrl.map{url => <a href="@url" target="_blank"><i class="fa fa-external-link"></i></a>}
                    </h4>
                    <p>
                        @if(meetup.published){ <span class="label label-success">Publié</span> } else { <span class="label label-danger">Brouillon</span> }
                        @meetup.data.venue.flatMap(id => venueList.find(_.id == id)).map{v => chez <a href="@VenueCtrl.get(v.id)">@v.data.name</a>}
                        le @date(meetup.data.date.toLocalDate),
                        @meetup.data.talks.length talks planifiés
                        @meetup.data.roti.map{r => <i class="fa fa-picture-o" title="ROTI added"></i>}
                    </p>
                </div>
            </div>
        }
    </div>
}