@(menu: String)
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@com.humantalks.internal.routes.Application.index">HumanTalks admin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>@helper.form(action=com.humantalks.auth.routes.AuthCtrl.doLogout, 'class -> "navbar-form") { <button type="submit" class="btn btn-link">Logout</button> }</li>
            </ul>
            <ul class="nav navbar-nav">
                <li @if(menu == "meetup"){class="active"}><a href="@com.humantalks.internal.meetups.routes.MeetupCtrl.find">Meetups</a></li>
                <li @if(menu == "talk"){class="active"}><a href="@com.humantalks.internal.talks.routes.TalkCtrl.find">Talks</a></li>
                <li @if(menu == "person"){class="active"}><a href="@com.humantalks.internal.persons.routes.PersonCtrl.find">Personnes</a></li>
                <li @if(menu == "venue"){class="active"}><a href="@com.humantalks.internal.venues.routes.VenueCtrl.find">Lieux</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" style="color: #777;"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="@com.humantalks.internal.meetups.routes.MeetupCtrl.create">Ajouter un meetup</a></li>
                        <li><a href="@com.humantalks.internal.talks.routes.TalkCtrl.create">Ajouter un talk</a></li>
                        <li><a href="@com.humantalks.internal.persons.routes.PersonCtrl.create">Ajouter une personne</a></li>
                        <li><a href="@com.humantalks.internal.venues.routes.VenueCtrl.create">Ajouter un lieu</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>