@(title: String, description: String = "")(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Loïc Knuchel">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <title>@if(title.length > 0){@title - }HumanTalks admin</title>
        <meta name="description" content="@if(description.length > 0){@description}else{HumanTalks admin}">

        <link href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" media="screen">
        <link href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" media="screen">
        <link href="@routes.Assets.versioned("lib/select2/dist/css/select2.min.css")" rel="stylesheet" type="text/css" media="screen">
        <link href="@routes.Assets.versioned("lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" media="screen">
        <link href="@routes.Assets.versioned("lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" media="screen">
        <link href="@routes.Assets.versioned("styles/main.css")" rel="stylesheet" type="text/css" media="screen">
    </head>
    <body>
        @content
        <script type="text/javascript">
            var config = {
                api: {
                    root: "@com.humantalks.internal.routes.Application.apiRoot",
                    tools: "@com.humantalks.tools.routes.Application.apiRoot"
                }
            };
        </script>
        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/select2/dist/js/select2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("scripts/main.js")" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQU2UtVoDw_cgii2_0v8W3n1r7htMDLjo&signed_in=true&libraries=places&language=fr&callback=googleMapsInit" type="text/javascript" async defer></script>
    </body>
</html>