@import com.humantalks.internal.persons.Person
@import com.humantalks.exposed.proposals.Proposal
@import global.views.html.form._
@(proposalForm: Form[Proposal.Data], personList: List[Person])(implicit messagesApi: MessagesApi)
@fieldHorizontal(proposalForm("title"), 'label -> "Titre") { field => @inputText(field, 'placeholder -> "ex: Ionic2, les développeurs web à l'assaut du mobile", 'autofocus -> "") }
@fieldHorizontal(proposalForm("description"), 'label -> "Description") { field => @inputTextarea(field, 'rows -> "5", 'placeholder -> "ex: Ionic c'est génial !") }
@fieldHorizontal(proposalForm("speakers"), 'label -> "Speakers") { field => @inputSelectMulti2(field, personList.map(p => (p.id.toString, p.data.name)), 'placeholder -> "Sélectionner les speakers", 'onCreate -> "createPersonModal", 'onCreateLabel -> "Nouveau speaker", 'required -> "true") }
@fieldHorizontal(proposalForm("slides"), 'label -> "Slides") { field => @inputEmbed(field, 'placeholder -> "ex: http://www.slideshare.net/inarocket/learn-bem-css-naming-convention") }