@import com.humantalks.domain.Venue
@import com.humantalks.domain.VenueData
@import com.humantalks.views.html.partials._
@import com.humantalks.controllers.html.routes
@(venueForm: Form[VenueData], venueOpt: Option[Venue])(implicit messagesApi: MessagesApi)
@main("Home") {
    @header("venue")

    <div class="container" role="main">
        <div class="page-header">
            <h1>@venueOpt.map{ p => Modifier @p.data.name}.getOrElse{Ajouter un lieu}</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
            @helper.form(action=venueOpt.map(p => routes.Venues.doUpdate(p.id)).getOrElse(routes.Venues.doCreate()), 'class->"form-horizontal venue-form") {
                @partials.fields(venueForm)
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @venueOpt.map{p => <a href="@routes.Venues.get(p.id)" class="btn btn-default btn-lg">Annuler</a>}
                        <button type="submit" class="btn btn-primary btn-lg">@venueOpt.map{ p => Modifier @p.data.name}.getOrElse{Ajouter le lieu}</button>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
}