@import com.humantalks.auth.entities.{Credentials, AuthToken, User}
@import com.humantalks.auth.routes.AuthCtrl
@import com.humantalks.exposed.views.html.partials._
@import global.views.html.format._
@(users: List[User], credentials: List[Credentials], authTokens: List[AuthToken])
@main("Debug users") {
    <div class="container">
        <h1>Users</h1>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>LoginInfo</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @users.map { u =>
                    <tr @if(!u.activated){class="danger"}>
                        <td>@u.id</td>
                        <td>(@u.loginInfo.providerID,@u.loginInfo.providerKey)</td>
                        <td>@u.firstName</td>
                        <td>@u.lastName</td>
                        <td>@u.fullName</td>
                        <td>@u.email</td>
                        <td>@u.avatarURL.map{url => <img src="@url" style="max-height: 30px;">}</td>
                        <td>@datetime(u.created.toLocalDateTime)</td>
                        <td>@datetime(u.updated.toLocalDateTime)</td>
                        <td>
                            @helper.form(action=AuthCtrl.debugRemoveUser(u.id)) {
                                <button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h1>AuthTokens</h1>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>expiry</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @authTokens.map { a =>
                <tr>
                    <td>@a.id</td>
                    <td>@a.userId @users.find(_.id == a.userId).map{u => (@u.email)}</td>
                    <td>@datetime(a.expiry.toLocalDateTime)</td>
                    <td>
                        @helper.form(action=AuthCtrl.debugRemoveToken(a.id)) {
                            <button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <h1>Credentials</h1>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>LoginInfo</th>
                    <th>hasher</th>
                    <th>password</th>
                    <th>salt</th>
                </tr>
            </thead>
            <tbody>
            @credentials.map { c =>
                <tr>
                    <td>(@c.loginInfo.providerID,@c.loginInfo.providerKey)</td>
                    <td>@c.passwordInfo.hasher</td>
                    <td>@c.passwordInfo.password</td>
                    <td>@c.passwordInfo.salt</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}