@import com.humantalks.auth.entities.{Credentials, AuthToken}
@import com.humantalks.internal.persons.Person
@import global.views.html.format._
@import com.humantalks.exposed.views.html.partials._
@import com.humantalks.auth.routes.AuthCtrl
@(persons: List[Person], credentials: List[Credentials], authTokens: List[AuthToken], person: Option[Person])(implicit request: RequestHeader)
@main("Debug users") {
    @*<div class="container">
        User: @person
        <h1>Users</h1>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>LoginInfo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @persons.map { p =>
                    <tr @if(!p.activated){class="danger"}>
                        <td>@p.id</td>
                        <td>@p.loginInfo.map{l => (@l.providerID,@l.providerKey)}</td>
                        <td>@p.data.name</td>
                        <td>@p.data.email</td>
                        <td>@p.data.avatar.map{url => <img src="@url" style="max-height: 30px;">}</td>
                        <td>@datetime(p.meta.created.toLocalDateTime)</td>
                        <td>@datetime(p.meta.updated.toLocalDateTime)</td>
                        <td>
                            @helper.form(action=AuthCtrl.debugRemoveUser(p.id)) {
                                <button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h1>AuthTokens</h1>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>expiry</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @authTokens.map { a =>
                <tr>
                    <td>@a.id</td>
                    <td>@a.person @persons.find(_.id == a.person).map{u => (@u.data.name)}</td>
                    <td>@datetime(a.expiry.toLocalDateTime)</td>
                    <td>
                        @helper.form(action=AuthCtrl.debugRemoveToken(a.id)) {
                            <button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <h1>Credentials</h1>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>LoginInfo</th>
                    <th>hasher</th>
                    <th>password</th>
                    <th>salt</th>
                </tr>
            </thead>
            <tbody>
            @credentials.map { c =>
                <tr>
                    <td>(@c.loginInfo.providerID,@c.loginInfo.providerKey)</td>
                    <td>@c.passwordInfo.hasher</td>
                    <td>@c.passwordInfo.password</td>
                    <td>@c.passwordInfo.salt</td>
                </tr>
            }
            </tbody>
        </table>
    </div>*@
}