@import com.humantalks.auth.forms.ForgotPasswordForm
@import com.humantalks.exposed.views.html.partials._
@import global.views.html.form._
@import com.humantalks.auth.routes.AuthCtrl
@(forgotPasswordForm: Form[ForgotPasswordForm])(implicit request: RequestHeader, messagesApi: MessagesApi)
@main("Mot de passe oublié") {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>Mot de passe oublié</legend>
        @helper.form(action=AuthCtrl.doForgotPassword(), 'autocomplete -> "off") {
            @fieldHorizontal(forgotPasswordForm("email"), 'label -> "Votre email") { field => @inputEmail(field, 'placeholder -> "ex: john@doe.com") }
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Réinitialiser</button>
                </div>
            </div>
        }
    </fieldset>
}