@import com.humantalks.auth.forms.ForgotPasswordForm
@import com.humantalks.exposed.views.html.partials._
@import global.views.html.form._
@import com.humantalks.auth.routes.AuthCtrl
@(forgotPasswordForm: Form[ForgotPasswordForm])(implicit request: RequestHeader, messagesApi: MessagesApi)
@main(messagesApi("auth.forgot_password.head")) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messagesApi("auth.forgot_password.title")</legend>
        @helper.form(action=AuthCtrl.doForgotPassword(), 'class -> "form-horizontal") {
            @fieldHorizontal(forgotPasswordForm("email"), 'label -> messagesApi("gbl.form.email.label")) { field => @inputEmail(field, 'placeholder -> messagesApi("gbl.form.email.placeholder")) }
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">@messagesApi("auth.forgot_password.form.submit")</button>
                </div>
            </div>
        }
    </fieldset>
}