@import com.humantalks.auth.forms.LoginForm
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import com.humantalks.exposed.views.html.partials._
@import global.views.html.form._
@import global.views.html.format._
@import com.humantalks.auth.routes.AuthCtrl
@(loginForm: Form[LoginForm])(implicit request: RequestHeader, messagesApi: MessagesApi)
@main("Login") {
    @flash()
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>Sign in with your credentials</legend>
        @helper.form(action = AuthCtrl.doLogin()) {
            @fieldHorizontal(loginForm("email"), 'label -> "Email") { field => @inputEmail(field, 'placeholder -> "ex: john@doe.com") }
            @fieldHorizontal(loginForm("password"), 'label -> "Password") { field => @inputText(field, 'type -> "password") }
            @* @b3.checkbox(loginForm("rememberMe"), '_text -> "Remember my login on this computer", 'checked -> true) *@
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </div>
        }

        <div>
            <p class="not-a-member">
                Not a member? <a href="@AuthCtrl.register">Register now</a>
                | <a href="@AuthCtrl.forgotPassword()" title="Forgot your password?">Forgot your password?</a>
            </p>
        </div>

    </fieldset>
}