@import com.humantalks.auth.forms.Login
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import com.humantalks.exposed.views.html.partials._
@import global.views.html.form._
@import global.views.html.format._
@import com.humantalks.auth.routes.AuthCtrl
@(loginForm: Form[Login], socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messagesApi: MessagesApi)
@main("Login") {
    @flash()
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>Sign in with your credentials</legend>
        @helper.form(action = AuthCtrl.doLogin()) {
            @fieldHorizontal(loginForm("email"), 'label -> "Email") { field => @inputEmail(field, 'placeholder -> "ex: john@doe.com") }
            @fieldHorizontal(loginForm("password"), 'label -> "Password") { field => @inputText(field, 'type -> "password") }
            @* @b3.checkbox(loginForm("rememberMe"), '_text -> "Remember my login on this computer", 'checked -> true) *@
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </div>
        }

        <div>
            <p class="not-a-member">
                Not a member? <a href="@AuthCtrl.register">Register now</a>
                @*| <a href="@rout.AuthCtrl.forgotPassword()" title="Forgot your password?">Forgot your password?</a>*@
            </p>
        </div>

        @*
        @if(socialProviders.providers.nonEmpty) {
            <div class="social-providers">
                <p>Or use your existing account on one of the following services to register:</p>
                <div>
                @for(p <- socialProviders.providers if p.id != "clef") {
                    <a href="@rout.AuthCtrl.socialAuth(p.id)" class="provider @p.id" title="@p.id"><img src="@routes.Assets.at(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@messagesApi(p.id)"></a>
                }
                </div>
                @defining(socialProviders.get[ClefProvider]) { clef =>
                    @if(clef.isDefined) {
                        <script type="text/javascript" src="https://clef.io/v3/clef.js" class="clef-button" data-app-id="@clef.get.settings.clientID" data-color="blue" data-style="flat" data-redirect-url="@clef.get.settings.redirectURL" data-type="login"></script>
                    }
                }
            </div>
        }
        *@

    </fieldset>
}