@import com.humantalks.auth.silhouette.forms.Login
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import com.humantalks.common.views.html.partials._
@import global.views.html.form._
@(loginForm: Form[Login], socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messagesApi: MessagesApi)
@main(messagesApi("sign.in.title")) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messagesApi("sign.in.credentials")</legend>
        @* @helper.form(action = routes.AuthCtrl.doLogin()) { *@
            @helper.CSRF.formField
            @fieldHorizontal(loginForm("email"), 'label -> "Email") { field => @inputEmail(field, 'placeholder -> "ex: john@doe.com") }
            @fieldHorizontal(loginForm("password"), 'label -> "Password") { field => @inputText(field, 'type -> "password") }
            @* @b3.checkbox(loginForm("rememberMe"), '_text -> messagesApi("remember.me"), 'checked -> true) *@
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messagesApi("sign.in")</button>
                </div>
            </div>
        @* } *@

        @*
        <div>
            <p class="not-a-member">@messagesApi("not.a.member") <a href="@routes.AuthCtrl.register">@messagesApi("sign.up.now")</a> | <a href="@routes.ForgotPasswordController.view()" title="@messagesApi("forgot.your.password")">@messagesApi("forgot.your.password")</a></p>
        </div>
        *@

        @*
        @if(socialProviders.providers.nonEmpty) {
            <div class="social-providers">
                <p>@messagesApi("or.use.social")</p>
                <div>
                @for(p <- socialProviders.providers if p.id != "clef") {
                    <a href="@routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@messagesApi(p.id)"><img src="@routes.Assets.at(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@messagesApi(p.id)"></a>
                }
                </div>
                @defining(socialProviders.get[ClefProvider]) { clef =>
                    @if(clef.isDefined) {
                        <script type="text/javascript" src="https://clef.io/v3/clef.js" class="clef-button" data-app-id="@clef.get.settings.clientID" data-color="blue" data-style="flat" data-redirect-url="@clef.get.settings.redirectURL" data-type="login"></script>
                    }
                }
            </div>
        }
        *@

    </fieldset>
}