@import com.humantalks.auth.forms.RegisterForm
@import com.humantalks.internal.views.html.partials._
@import global.views.html.form._
@import global.views.html.format._
@import com.humantalks.auth.routes.AuthCtrl
@(registerForm: Form[RegisterForm])(implicit request: RequestHeader, messagesApi: MessagesApi)
@main("Register") {
    @flash()
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>Register for a new account</legend>
        @helper.form(action = AuthCtrl.doRegister()) {
            @fieldHorizontal(registerForm("firstName"), 'label -> "First name") { field => @inputText(field, 'placeholder -> "ex: John") }
            @fieldHorizontal(registerForm("lastName"), 'label -> "Last name") { field => @inputText(field, 'placeholder -> "ex: Doe") }
            @fieldHorizontal(registerForm("email"), 'label -> "Email") { field => @inputEmail(field, 'placeholder -> "ex: john@doe.com") }
            @fieldHorizontal(registerForm("password"), 'label -> "Password") { field => @inputText(field, 'type -> "password") }
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                </div>
            </div>
            <div class="sign-in-now">
                <p>Already a member? <a href="@AuthCtrl.login">Login now</a></p>
            </div>
        }
    </fieldset>
}