@import com.humantalks.auth.entities.AuthToken
@import com.humantalks.auth.forms.ResetPasswordForm
@import com.humantalks.exposed.views.html.partials._
@import global.views.html.form._
@import com.humantalks.auth.routes.AuthCtrl
@(resetPasswordForm: Form[ResetPasswordForm], token: AuthToken.Id)(implicit request: RequestHeader, messagesApi: MessagesApi)
@main("Modification du mot de passe") {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>Modifier son mot de passe</legend>
        @helper.form(action = AuthCtrl.doResetPassword(token), 'autocomplete -> "off") {
            @fieldHorizontal(resetPasswordForm("password"), 'label -> "Nouveau mot de passe") { field => @inputText(field, 'type -> "password") }
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Modifier</button>
                </div>
            </div>
        }
    </fieldset>
}