@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.talks.Talk
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.persons.routes.PersonCtrl
@import com.humantalks.internal.talks.routes.TalkCtrl
@(person: Person, talkList: List[Talk])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main(person.data.name) {
    @header("person")

    <div class="container">
        @flash()
        <h1>
            <span class="pull-right">
                <a href="@PersonCtrl.update(person.id)" class="btn btn-default" title="Modifier cette personnes"><i class="fa fa-pencil-square-o"></i></a>
                @helper.form(action=PersonCtrl.doDelete(person.id), 'class->"inline") { <button type="submit" class="btn btn-danger" title="Supprimer cette personne" confirm><i class="fa fa-trash"></i></button> }
            </span>
            @person.data.name
        </h1>
        @person.data.shirt.map{shirt => <p>Taille de t-shirt: @messagesApi("person.shirt."+shirt)</p>}
        @person.data.description.map{d => <p>@multiline(d)</p>}
        @email(person.data.email)
        @twitter(person.data.twitter)
        @if(talkList.nonEmpty){
            <h3>Talks</h3>
            <ul>
            @talkList.map { talk =>
                <li>
                    @com.humantalks.internal.talks.views.html.partials.status(talk)
                    <a href="@TalkCtrl.get(talk.id)">@talk.data.title</a> à ???
                </li>
            }
            </ul>
        }
    </div>
}