@import com.humantalks.internal.persons.Person
@import global.views.html.partials._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.persons.routes.PersonCtrl
@import com.humantalks.internal.persons.routes.PersonApiCtrl
@(personForm: Form[Person.Data], personOpt: Option[Person])(implicit request: RequestHeader, messagesApi: MessagesApi, user: Option[Person])
@main("Nouvelle personne") {
    @header("person")

    <div class="container">
        @flash()
        <div class="page-header">
            <h1>@personOpt.map{ p => Modifier @p.data.name}.getOrElse{Ajouter une personne}</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
            @helper.form(action=personOpt.map(p => PersonCtrl.doUpdate(p.id)).getOrElse(PersonCtrl.doCreate()), 'duplicates -> PersonApiCtrl.duplicates(personOpt.map(_.id.toString)).toString, 'class->"form-horizontal person-form") {
                @partials.fields(personForm)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @personOpt.map{p => <a href="@PersonCtrl.get(p.id)" class="btn btn-default btn-lg">Annuler</a>}
                        <button type="submit" class="btn btn-primary btn-lg">@personOpt.map{ p => Modifier @p.data.name}.getOrElse{Ajouter la personne}</button>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
}