@import com.humantalks.internal.persons.Person
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.persons.routes.PersonCtrl
@(personList: List[Person])(implicit request: RequestHeader, messagesApi: MessagesApi, user: Option[Person])
@main("Personnes") {
    @header("person")

    <div class="container">
        @flash()
        <h1>
            <a href="@PersonCtrl.create" class="pull-right"><i class="fa fa-plus"></i></a>
            Liste des personnes (@personList.length)
        </h1>
        @personList.map { person =>
            <div class="media card">
                @person.data.avatar.map { avatar =>
                    <div class="media-left">
                        <a href="@PersonCtrl.get(person.id)"><img class="media-object" src="@avatar" alt="Image de profil"></a>
                    </div>
                }
                <div class="media-body">
                    <h4 class="media-heading"><a href="@PersonCtrl.get(person.id)">@person.data.name</a></h4>
                    @person.data.description.map{d => <p>@multiline(d)</p>}
                    @email(person.data.email)
                    @twitter(person.data.twitter)
                </div>
            </div>
        }
    </div>
}