@import com.humantalks.meetups.Meetup
@import com.humantalks.venues.Venue
@import com.humantalks.persons.Person
@import com.humantalks.talks.Talk
@import com.humantalks.common.views.html.partials._
@import com.humantalks.meetups.routes
@import global.views.html.format._
@(meetup: Meetup, talkForm: Form[Talk.Data], personForm: Form[Person.Data], allTalks: List[Talk], allPersons: List[Person], venueList: List[Venue])(implicit messagesApi: MessagesApi)
@main(meetup.data.title) {
    @header("meetup")

    <div class="container">
        <h1>
            @helper.form(action=routes.MeetupCtrl.doDelete(meetup.id), 'class->"pull-right") {
                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            }
            <a href="@routes.MeetupCtrl.update(meetup.id)" class="btn btn-default pull-right"><i class="fa fa-pencil-square-o"></i></a>
            @meetup.data.title
            @meetup.data.meetupUrl.map{url => <a href="@url" target="_blank"><i class="fa fa-external-link"></i></a>}
        </h1>
        <p>
            @if(meetup.published){ <span class="label label-success">Publié</span> } else { <span class="label label-danger">Brouillon</span> }
            @meetup.data.venue.flatMap(id => venueList.find(_.id == id)).map{v => chez <a href="@com.humantalks.venues.routes.VenueCtrl.get(v.id)">@v.data.name</a>}
            le @date(meetup.data.date.toLocalDate)
        </p>
        <p>@meetup.data.description</p>
        @if(meetup.data.talks.nonEmpty) {
            <h3>Talks</h3>
            <ol>
            @meetup.data.talks.flatMap(id => allTalks.find(_.id == id)).map { talk =>
                <li>
                    @helper.form(action=routes.MeetupCtrl.doRemoveTalk(meetup.id, talk.id), 'class->"inline") { <button type="submit" class="btn btn-clear"><i class="fa fa-trash"></i></button> }
                    <a href="@com.humantalks.talks.routes.TalkCtrl.get(talk.id)">@talk.data.title</a>
                    par @talk.data.speakers.flatMap(id => allPersons.find(_.id == id)).map { speaker => <a href="@com.humantalks.persons.routes.PersonCtrl.get(speaker.id)">@speaker.data.name</a> }
                    @talk.data.slides.map{s => <a href="@s" target="_blank" title="slides"><span class="fa fa-slideshare"></span></a>}
                    @talk.data.video.map{v => <a href="@v" target="_blank" title="vidéo"><span class="fa fa-youtube"></span></a>}
                </li>
            }
            </ol>
        }
        @meetup.data.roti.map{r => <p><img src="@r" style="width: 100%;"></p>}

        @helper.form(action=routes.MeetupCtrl.doAddTalkForm(meetup.id), 'class->"form-inline") {
            <div class="row">
                <div class="col-md-8">
                    <select class="form-control select2" id="talkId" name="talkId" placeholder="Sélectionner un talk">
                        <option></option>
                        @allTalks.filter(t => !meetup.data.talks.contains(t.id)).map { talk =>
                            <option value="@talk.id">@talk.data.title @talk.data.speakers.flatMap(id => allPersons.find(_.id == id)).map(_.data.name).mkString(" (", ", ", ")")</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default">Ajouter</button>
                </div>
            </div>
        }

        <br>
        <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#create-talk-modal">Créer un talk</button>
        <a href="@routes.MeetupCtrl.publish(meetup.id)" class="btn btn-default btn-lg">Publier meetup</a>

        <h3>Talks jamais planifiés</h3>
        <ul>
            <li>TODO</li>
        </ul>
    </div>

    @com.humantalks.talks.views.html.partials.createModal(talkForm, allPersons, Some(routes.MeetupCtrl.doCreateTalk(meetup.id)))
    @com.humantalks.persons.views.html.partials.createModal(personForm)
}