@import com.humantalks.meetups.Meetup
@import com.humantalks.common.views.html.partials._
@import com.humantalks.meetups.routes
@import global.views.html.format._
@(meetup: Meetup)
@main("Home") {
    @header("meetup")

    <div class="container">
        <h1>
            <a href="@routes.MeetupCtrl.update(meetup.id)" class="pull-right"><i class="glyphicon glyphicon-pencil"></i></a>
            @meetup.data.title
        </h1>
        <p>
            le @date(meetup.data.date.toLocalDate)
            @meetup.data.venue.map{v => à @v}
        </p>
        <p>@meetup.data.description</p>
        @meetup.data.talks.map { talk =>
            <div>Talk: @talk</div>
        }
        @meetup.data.roti.map{r => <img src="@r">}
    </div>
}