@import com.humantalks.meetups.Meetup
@import com.humantalks.venues.Venue
@import com.humantalks.persons.Person
@import com.humantalks.talks.Talk
@import com.humantalks.common.views.html.partials._
@import com.humantalks.meetups.routes
@import global.views.html.format._
@(meetup: Meetup, talkList: List[Talk], personList: List[Person], venueList: List[Venue], talkForm: Form[Talk.Data], personForm: Form[Person.Data])(implicit messagesApi: MessagesApi)
@main("Home") {
    @header("meetup")

    <div class="container">
        <h1>
            <a href="@routes.MeetupCtrl.update(meetup.id)" class="pull-right"><i class="glyphicon glyphicon-pencil"></i></a>
            @meetup.data.title
        </h1>
        <p>
            @if(meetup.published){ <span class="label label-success">Publié</span> } else { <span class="label label-danger">Brouillon</span> }
            @meetup.data.venue.flatMap(id => venueList.find(_.id == id)).map{v => chez <a href="@com.humantalks.venues.routes.VenueCtrl.get(v.id)">@v.data.name</a>}
            le @date(meetup.data.date.toLocalDate)
        </p>
        <p>@meetup.data.description</p>
        @if(meetup.data.talks.nonEmpty) {
            <h3>Talks</h3>
            <ol>
            @meetup.data.talks.flatMap(id => talkList.find(_.id == id)).map { talk =>
                <li>
                    <a href="@com.humantalks.talks.routes.TalkCtrl.get(talk.id)">@talk.data.title</a>
                    par @talk.data.speakers.flatMap(id => personList.find(_.id == id)).map { speaker => <a href="@com.humantalks.persons.routes.PersonCtrl.get(speaker.id)">@speaker.data.name</a> }
                </li>
            }
            </ol>
        }
        @meetup.data.roti.map{r => <p><img src="@r"></p>}
        <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#create-talk-modal">Ajouter un talk (TODO: modal avec select2 et/ou form)</button><br>
        <a href="@routes.MeetupCtrl.publish(meetup.id)" class="btn btn-default btn-lg">Publier</a>
    </div>

    @com.humantalks.talks.views.html.partials.modalForm(talkForm, personList, Some(routes.MeetupCtrl.doCreateTalk(meetup.id)))
    @com.humantalks.persons.views.html.partials.modalForm(personForm)
}