@import com.humantalks.meetups.Meetup
@import com.humantalks.venues.Venue
@import com.humantalks.common.views.html.partials._
@import com.humantalks.meetups.routes
@import global.views.html.format._
@(meetupList: List[Meetup], venueList: List[Venue])
@main("Home") {
    @header("meetup")

    <div class="container">
        <h1>Meetup List</h1>
        @meetupList.map { meetup =>
            <div class="media card">
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="@routes.MeetupCtrl.get(meetup.id)">@meetup.data.title</a>
                        @meetup.data.meetupUrl.map{url => <a href="@url" target="_blank"><i class="glyphicon glyphicon-share"></i></a>}
                    </h4>
                    <p>
                        @if(meetup.published){ <span class="label label-success">Publié</span> } else { <span class="label label-danger">Brouillon</span> }
                        @meetup.data.venue.flatMap(id => venueList.find(_.id == id)).map{v => chez <a href="@com.humantalks.venues.routes.VenueCtrl.get(v.id)">@v.data.name</a>}
                        le @date(meetup.data.date.toLocalDate),
                        @meetup.data.talks.length talks planifiés
                        @meetup.data.roti.map{r => <i class="glyphicon glyphicon-picture" title="ROTI added"></i>}
                    </p>
                </div>
            </div>
        }
    </div>
}