@import com.humantalks.internal.venues.Venue
@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.events.Event
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.venues.routes.VenueCtrl
@import com.humantalks.internal.events.routes.EventCtrl
@(venue: Venue, eventList: List[Event])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main(venue.data.name) {
    @header("venue")

    <div class="container">
        @flash()
        <h1>
            <span class="pull-right">
                <a href="@VenueCtrl.update(venue.id)" class="btn btn-default" title="Modifier ce lieu"><i class="fa fa-pencil-square-o"></i></a>
                @helper.form(action=VenueCtrl.doDelete(venue.id), 'class->"inline") { <button type="submit" class="btn btn-danger" title="Supprimer ce lieu" confirm><i class="fa fa-trash"></i></button> }
            </span>
            @venue.data.name
        </h1>
        @venue.data.location.map{loc => <p>@loc.formatted</p>}
        @venue.data.comment.map{c => <p>@multiline(c)</p>}
        @twitter(venue.data.twitter)
        @if(eventList.nonEmpty){
            <h3>Meetups</h3>
            <ul>
            @eventList.map { event =>
                <li><a href="@EventCtrl.get(event.id)">@event.data.title</a></li>
            }
            </ul>
        }
    </div>
}
