@import com.humantalks.internal.venues.Venue
@import com.humantalks.internal.persons.Person
@import global.views.html.partials._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.venues.routes.VenueCtrl
@import com.humantalks.internal.venues.routes.VenueApi
@(venueForm: Form[Venue.Data], venueOpt: Option[Venue])(implicit request: RequestHeader, messagesApi: MessagesApi, user: Option[Person])
@main("Nouveau lieu") {
    @header("venue")

    <div class="container">
        @flash()
        <div class="page-header">
            <h1>@venueOpt.map{ p => Modifier @p.data.name}.getOrElse{Ajouter un lieu}</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
            @helper.form(action=venueOpt.map(p => VenueCtrl.doUpdate(p.id)).getOrElse(VenueCtrl.doCreate()), 'duplicates -> VenueApi.duplicates(venueOpt.map(_.id.toString)).toString, 'class->"form-horizontal venue-form") {
                @partials.fields(venueForm)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @venueOpt.map{p => <a href="@VenueCtrl.get(p.id)" class="btn btn-default btn-lg">Annuler</a>}
                        <button type="submit" class="btn btn-primary btn-lg">@venueOpt.map{ p => Modifier @p.data.name}.getOrElse{Ajouter le lieu}</button>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
}
