@import com.humantalks.internal.venues.Venue
@import com.humantalks.internal.persons.Person
@import global.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.venues.routes.VenueCtrl
@(venueList: List[Venue])(implicit user: Option[Person])
@main("Lieux") {
    @header("venue")

    <div class="container">
        <h1>
            <a href="@VenueCtrl.create" class="pull-right"><i class="fa fa-plus"></i></a>
            Liste des lieux (@venueList.length)
        </h1>
        @venueList.map { venue =>
            <div class="media card">
                <div class="media-body">
                    <h4 class="media-heading"><a href="@VenueCtrl.get(venue.id)">@venue.data.name</a></h4>
                    @venue.data.location.map{loc => <p>@loc.formatted</p>}
                    @venue.data.comment.map{c => <p>@multiline(c)</p>}
                    @venue.data.twitter.map{account => <a href="https://twitter.com/@account" target="_blank">@@@account</a>}
                </div>
                @venue.data.logo.map { logo =>
                    <div class="media-right">
                        <a href="@VenueCtrl.get(venue.id)"><img class="media-object" src="@logo" alt="Logo"></a>
                    </div>
                }
            </div>
        }
    </div>
}