@import com.humantalks.domain.Meetup
@import com.humantalks.domain.MeetupData
@import com.humantalks.domain.Venue
@import com.humantalks.views.html.partials._
@import com.humantalks.controllers.html.routes
@(meetupForm: Form[MeetupData], meetupOpt: Option[Meetup], venueList: List[Venue])(implicit messagesApi: MessagesApi)
@main("Home") {
    @header("meetup")

    <div class="container" role="main">
        <div class="page-header">
            <h1>@meetupOpt.map{ p => Modifier @p.data.title}.getOrElse{Ajouter un meetup}</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
            @helper.form(action=meetupOpt.map(p => routes.Meetups.doUpdate(p.id)).getOrElse(routes.Meetups.doCreate()), 'class->"form-horizontal meetup-form") {
                @partials.fields(meetupForm, venueList)
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @meetupOpt.map{p => <a href="@routes.Meetups.get(p.id)" class="btn btn-default btn-lg">Annuler</a>}
                        <button type="submit" class="btn btn-primary btn-lg">@meetupOpt.map{ p => Modifier @p.data.title}.getOrElse{Ajouter le meetup}</button>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
}