@import com.humantalks.venues.Venue
@import com.humantalks.common.views.html.partials._
@import com.humantalks.venues.routes
@import global.views.html.format._
@(venue: Venue)
@main("Home") {
    @header("venue")

    <div class="container">
        <h1>
            <a href="@routes.VenueCtrl.update(venue.id)" class="pull-right"><i class="glyphicon glyphicon-pencil"></i></a>
            @venue.data.name
        </h1>
        @venue.data.location.map{loc => <p>@loc.formatted</p>}
        @venue.data.comment.map{c => <p>@multiline(c)</p>}
        @venue.data.contact.map{contact => @contact.name}
        @venue.data.twitter.map{account => <a href="https://twitter.com/@account" target="_blank">@@@account</a>}
    </div>
}