@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.partners.Partner
@import com.humantalks.internal.talks.Talk
@import com.humantalks.internal.events.Event
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.talks.routes.TalkCtrl
@import com.humantalks.internal.events.routes.EventCtrl
@(nextEvent: Option[Event], partnerList: List[Partner], talkList: List[Talk], personList: List[Person], currentSponsors: List[Partner], oldSponsors: List[Partner])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main("") {
    @header("index")

    <div class="container">
        @flash()
        @if(!userOpt.exists(_.isAuthorized(Person.Role.Organizer))) {
            <p>Vous n'avez pas les droits d'Organisateur, demandez-les pour accéder à l'ensemble du site.</p>
        }
        @nextEvent.map { event =>
            <h3>Prochain événement</h3>
            <div class="media card @if(event.data.date.isAfterNow){highlight}">
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="@EventCtrl.get(event.id)">@event.data.title</a>
                        @event.meetupUrl.map{url => <a href="@url" target="_blank"><i class="fa fa-external-link"></i></a>}
                    </h4>
                    <p>
                        @event.data.venue.flatMap(id => partnerList.find(_.id == id)).map{ partner =>
                            chez @partnerLink(partner)
                        }.getOrElse{<b class="text-danger">Il manque une salle !</b>}
                        @event.data.apero.flatMap(id => partnerList.find(_.id == id)).map{ partner =>
                            apéro par @partnerLink(partner)
                        }
                        le @date(event.data.date.toLocalDate),
                        @event.data.talks.length talks planifiés @if(event.data.talks.length < 4 && event.data.date.isAfterNow) {(<b class="text-danger">Il en manque @{4 - event.data.talks.length} !</b>)}
                    </p>
                    @if(event.data.talks.nonEmpty) {
                        <p>
                            <ol>
                                @event.data.talks.flatMap(id => talkList.find(_.id == id)).map { talk =>
                                    <li>
                                        <a href="@TalkCtrl.get(talk.id)">@talk.data.title</a>
                                        @speakers(talk.data.speakers, personList, true)
                                        @slidesLink(talk.data.slides)
                                        @videoLink(talk.data.video)
                                    </li>
                                }
                            </ol>
                        </p>
                    }
                </div>
            </div>
        }
        @if(currentSponsors.nonEmpty) {
            <h3>Sponsors</h3>
            <ul>
            @currentSponsors.map{ partner =>
                <li>
                    @partner.lastSponsor().map { s => jusqu'au @date(s.end)@if(s.expireSoon()){ <i class="fa fa-exclamation-triangle text-warning" title="expire bientôt"></i>} : }
                    @partnerLink(partner)
                    (@partner.data.sponsoring.length fois sponsor)
                </li>
            }
            </ul>
        }
        @if(oldSponsors.nonEmpty) {
            <h3>Ancien sponsors</h3>
            <ul>
            @oldSponsors.reverse.map { partner =>
                <li>
                    @partner.lastSponsor.map { s => s'est terminé le @date(s.end)@if(s.expiredNotLongAgo()){ <i class="fa fa-exclamation-triangle text-danger" title="à expiré il y a peu"></i>} : }
                    @partnerLink(partner)
                    (@partner.data.sponsoring.length fois sponsor)
                </li>
            }
            </ul>
        }
    </div>

    @footer()
}
