@import com.humantalks.internal.persons.Person
@import global.views.html.partials._
@import com.humantalks.internal.views.html.partials._
@()(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main("") {
    @header("index")

    <div class="container">
        @flash()
        <h1>Hello ! </h1>
        @if(!userOpt.exists(_.isAuthorized(Person.Role.Organizer))) {
            <p>Vous n'avez pas les droits d'Organisateur, demandez-les pour accéder à l'ensemble du site.</p>
        }
    </div>
}
