@import com.humantalks.persons.Person
@import com.humantalks.talks.Talk
@import global.views.html.form._
@(talkForm: Form[Talk.Data], personList: List[Person])(implicit messagesApi: MessagesApi)
@fieldHorizontal(talkForm("title"), 'label -> "Titre") { field => @inputText(field, 'placeholder -> "ex: Ionic2, les développeurs web à l'assaut du mobile") }
@fieldHorizontal(talkForm("description"), 'label -> "Description") { field => @inputTextarea(field, 'rows -> "5", 'placeholder -> "ex: Ionic c'est génial !") }
@fieldHorizontal(talkForm("speakers"), 'label -> "Speakers") { field => @inputSelectMulti2(field, personList.map(p => (p.id.toString, p.data.name)), 'placeholder -> "Sélectionner les speakers") }
@fieldHorizontal(talkForm("slides"), 'label -> "Slides") { field => @inputText(field, 'placeholder -> "ex: https://image.freepik.com/free-icon/male-user-shadow_318-34042.png") }
@fieldHorizontal(talkForm("video"), 'label -> "Vidéo") { field => @inputText(field, 'placeholder -> "ex: https://image.freepik.com/free-icon/male-user-shadow_318-34042.png") }
