@import com.humantalks.domain.Talk
@import com.humantalks.views.html.partials._
@import com.humantalks.controllers.html.routes
@import global.views.html.format._
@(talk: Talk)
@main("Home") {
    @header("talk")

    <div class="container">
        <h1>
            <a href="@routes.Talks.update(talk.id)" class="pull-right"><i class="glyphicon glyphicon-pencil"></i></a>
            @talk.data.title
        </h1>
        <p>@multiline(talk.data.description)</p>
        <p>par @talk.data.speakers.map{s => @s}</p>
        @talk.data.slides.map{s => <p>Slides: @s</p>}
        @talk.data.video.map{v => <p>Vidéo: @v</p>}
    </div>
}