@import com.humantalks.internal.partners.Partner
@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.talks.Talk
@import com.humantalks.internal.events.Event
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.talks.routes.TalkCtrl
@import com.humantalks.internal.events.routes.EventCtrl
@import com.humantalks.common.controllers.routes.Select2Ctrl
@(event: Event, partnerForm: Form[Partner.Data], personForm: Form[Person.Data], talkForm: Form[Talk.Data], partnerList: List[Partner], eventTalks: List[Talk], eventSpeakers: List[Person], pendingTalks: List[Talk], pendingSpeakers: List[Person])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main(event.data.title) {
    @header("event")

    <div class="container">
        @flash()
        <h1>
            <span class="pull-right">
                <a href="@EventCtrl.update(event.id)" class="btn btn-default" title="Modifier ce meetup"><i class="fa fa-pencil-square-o"></i></a>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publier <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li style="padding: 0 10px;">
                            @helper.form(action = EventCtrl.doAddMeetupRef(event.id), 'class -> "form-inline") {
                                <div class="form-group form-group-sm">
                                    <input type="text" class="form-control" id="meetupId" name="meetupId" value="@event.meetupRef.map(_.id)" placeholder="meetup event id">
                                </div>
                                <button type="submit" class="btn btn-default">OK</button>
                            }
                        </li>
                        <li><a href="@EventCtrl.getDescription(event.id)">Générer description</a></li>
                        @event.meetupRef.map { ref =>
                            <li>@helper.form(action = EventCtrl.doUpdatePublish(event.id), 'class -> "inline") { <button type="submit" class="btn-link" title="Mettre à jour sur meetup.com" confirm>Mettre à jour sur meetup.com</button> }</li>
                            <li>@helper.form(action = EventCtrl.doUnpublish(event.id), 'class -> "inline") { <button type="submit" class="btn-link" title="Supprimer de meetup.com" confirm>Supprimer de meetup.com</button> }</li>
                        }.getOrElse {
                            <li>@helper.form(action = EventCtrl.doPublish(event.id), 'class -> "inline") { <button type="submit" class="btn-link" title="Créer sur meetup.com" confirm>Créer sur meetup.com (draft)</button> }</li>
                        }
                    </ul>
                </div>
                @helper.form(action = EventCtrl.doDelete(event.id), 'class -> "inline") { <button type="submit" class="btn btn-danger" title="Supprimer ce meetup" confirm><i class="fa fa-trash"></i></button> }
            </span>
            @event.data.title
            @event.meetupUrl.map{url => <a href="@url" target="_blank"><i class="fa fa-external-link"></i></a>}
        </h1>
        <p>
            @event.data.venue.flatMap(id => partnerList.find(_.id == id)).map{ partner =>
                chez @partnerLink(partner)@partner.data.venue.flatMap(_.capacity).map{c =>, @c places}
            }.getOrElse{<b class="text-danger">Il manque une salle !</b>}
            @event.data.location.map { location => (@location.formatted) }
            @event.data.apero.flatMap(id => partnerList.find(_.id == id)).map{ partner =>
                apéro par @partnerLink(partner)
            }
            le @date(event.data.date.toLocalDate)
        </p>
        @if(event.data.venue.isEmpty){
            @helper.form(action=EventCtrl.doAddVenueForm(event.id), 'class->"form-inline") {
                <div class="row">
                    <div class="col-md-8">
                        <select class="form-control select2" id="partnerId" name="partnerId" remote="@Select2Ctrl.partners()" placeholder="Sélectionner un lieu">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-default">Ajouter le lieu</button>
                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#create-partner-modal">Créer un lieu</a>
                    </div>
                </div>
            }
        }
        <p>@event.data.description</p>
        @if(event.data.talks.nonEmpty) {
            <h3>Talks @if(event.data.talks.length < 4 && event.data.date.isAfterNow) {<small>(<b class="text-danger">Il en manque @{4 - event.data.talks.length} !</b>)</small>}</h3>
            <ol>
            @event.data.talks.flatMap(id => eventTalks.find(_.id == id)).map { talk =>
                <li>
                    @helper.form(action=EventCtrl.doRemoveTalk(event.id, talk.id), 'class->"inline") { <button type="submit" class="btn btn-clear" title="Remove this talk from the meetup" confirm><i class="fa fa-trash"></i></button> }
                    @helper.form(action=EventCtrl.doMoveTalk(event.id, talk.id, true), 'class->"inline") { <button type="submit" class="btn btn-clear" title="Monter le talk dans la liste"><i class="fa fa-arrow-up"></i></button> }
                    @helper.form(action=EventCtrl.doMoveTalk(event.id, talk.id, false), 'class->"inline") { <button type="submit" class="btn btn-clear" title="Descendre le talk dans la liste"><i class="fa fa-arrow-down"></i></button> }
                    @com.humantalks.internal.talks.views.html.partials.status(talk)
                    <a href="@TalkCtrl.get(talk.id)">@talk.data.title</a>
                    @speakers(talk.data.speakers, eventSpeakers, true)
                    @slidesLink(talk.data.slides)
                    @videoLink(talk.data.video)
                    @if(talk.status != Talk.Status.Finalized){ @helper.form(action=TalkCtrl.setStatus(talk.id, Talk.Status.Finalized), 'class->"inline") { <button type="submit" class="btn btn-success" title="Confirm this talk"><i class="fa fa-check"></i></button> } }
                    @if(talk.data.slides.isEmpty) {
                        @helper.form(action=TalkCtrl.setAttribute(talk.id), 'class->"form-inline") {
                            <input type="hidden" name="attribute" value="slides">
                            <div class="form-group">
                                <label class="sr-only" for="value">Slides</label>
                                <input type="text" class="form-control" name="value" id="value" placeholder="Ajouter les slides">
                            </div>
                            <button type="submit" class="btn btn-default">Ajouter slides</button>
                        }
                    }
                    @if(talk.data.video.isEmpty && event.data.date.isBeforeNow) {
                        @helper.form(action=TalkCtrl.setAttribute(talk.id), 'class->"form-inline") {
                            <input type="hidden" name="attribute" value="video">
                            <div class="form-group">
                                <label class="sr-only" for="value">Video</label>
                                <input type="text" class="form-control" name="value" id="value" placeholder="Ajouter la video">
                            </div>
                            <button type="submit" class="btn btn-default">Ajouter vidéo</button>
                        }
                    }
                </li>
            }
            </ol>
            <b>T-shirts:</b>
            <ul>
            @eventSpeakers.groupBy(_.data.shirt).toSeq.sortBy(_._1).reverse.map { case (size, ids) =>
              <li>@ids.length @size.map(v => messagesApi("person.shirt."+v)).getOrElse(if(ids.length == 1) "taille inconnue" else "tailles inconnues")</li>
            }
            </ul>
        } else {
            <h3 class="text-danger">Aucun talk ajouté !</h3>
        }
        @event.data.personCount.map{c => <p>@c participants</p>}
        @event.data.roti.map{r => <p><img src="@r" style="width: 100%;"></p>}

        @if(pendingTalks.nonEmpty) {
            <h3>Talks non planifiés</h3>
            <ul>
                @pendingTalks.map { talk =>
                    <li>
                        @helper.form(action=EventCtrl.doAddTalk(event.id, talk.id), 'class->"inline") {
                            <button type="submit" class="btn btn-link" title="Add talk to this meetup"><i class="fa fa-plus"></i></button>
                        }
                        @com.humantalks.internal.talks.views.html.partials.status(talk)
                        <a href="@TalkCtrl.get(talk.id)">@talk.data.title</a>
                        @speakers(talk.data.speakers, pendingSpeakers)
                        @slidesLink(talk.data.slides)
                        @videoLink(talk.data.video)
                    </li>
                }
            </ul>
        }

        @helper.form(action=EventCtrl.doAddTalkForm(event.id), 'class->"form-inline") {
            <div class="row">
                <div class="col-md-8">
                    <select class="form-control select2" id="talkId" name="talkId" remote="@Select2Ctrl.talks(pending = true)" placeholder="Sélectionner un talk">
                        <option></option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-default">Ajouter le talk</button>
                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#create-talk-modal">Créer un talk</a>
                </div>
            </div>
        }
    </div>

    @if(event.data.venue.isEmpty){ @com.humantalks.internal.partners.views.html.partials.createModal(partnerForm, Some(EventCtrl.doCreateVenue(event.id))) }
    @com.humantalks.internal.talks.views.html.partials.createModal(talkForm, Some(EventCtrl.doCreateTalk(event.id)))
    @com.humantalks.internal.persons.views.html.partials.createModal(personForm)
}