@import com.humantalks.internal.events.Event
@import com.humantalks.internal.talks.Talk
@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.partners.Partner
@import global.views.html.partials._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.events.routes.EventCtrl
@import com.humantalks.internal.events.routes.EventApiCtrl
@(eventForm: Form[Event.Data], talkForm: Form[Talk.Data], personForm: Form[Person.Data], eventOpt: Option[Event])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main("Nouvel événement") {
    @header("event")

    <div class="container">
        @flash()
        <div class="page-header">
            <h1>@eventOpt.map{ p => Modifier @p.data.title}.getOrElse{Ajouter un événement}</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
            @helper.form(action=eventOpt.map(p => EventCtrl.doUpdate(p.id)).getOrElse(EventCtrl.doCreate()), 'duplicates -> EventApiCtrl.duplicates(eventOpt.map(_.id.toString)).toString, 'class->"form-horizontal meetup-form") {
                @partials.fields(eventForm)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @eventOpt.map{p => <a href="@EventCtrl.get(p.id)" class="btn btn-default btn-lg">Annuler</a>}
                        <button type="submit" class="btn btn-primary btn-lg">@eventOpt.map{ p => Modifier @p.data.title}.getOrElse{Ajouter le meetup}</button>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    @com.humantalks.internal.talks.views.html.partials.createModal(talkForm)
    @com.humantalks.internal.persons.views.html.partials.createModal(personForm)
}