@import com.humantalks.internal.partners.Partner
@import com.humantalks.internal.persons.Person
@import com.humantalks.internal.events.Event
@import global.views.html.format._
@import global.views.html.partials._
@import com.humantalks.common.views.html.format._
@import com.humantalks.internal.views.html.partials._
@import com.humantalks.internal.partners.routes.PartnerCtrl
@import com.humantalks.internal.events.routes.EventCtrl
@(eventList: List[Event], partnerList: List[Partner])(implicit request: RequestHeader, messagesApi: MessagesApi, userOpt: Option[Person])
@main("Événements") {
    @header("event")

    <div class="container">
        @flash()
        <h1>
            <a href="@EventCtrl.create" class="pull-right"><i class="fa fa-plus"></i></a>
            Listes des événements (@eventList.length)
        </h1>
        @eventList.map { event =>
            <div class="media card @if(event.data.date.isAfterNow){highlight}">
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="@EventCtrl.get(event.id)">@event.data.title</a>
                        @event.meetupUrl.map{url => <a href="@url" target="_blank"><i class="fa fa-external-link"></i></a>}
                    </h4>
                    <p>
                        @partials.status(event)
                        @partner(event.data.venue, partnerList, Html("<b class=\"text-danger\">Il manque une salle !</b>"))
                        le @date(event.data.date.toLocalDate),
                        @event.data.talks.length talks planifiés @if(event.data.talks.length < 4 && event.data.date.isAfterNow) {(<b class="text-danger">Il en manque @{4 - event.data.talks.length} !</b>)}
                        @event.data.roti.map{r => <i class="fa fa-picture-o" title="ROTI added"></i>}
                    </p>
                </div>
            </div>
        }
    </div>
}